@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
    font-weight: 500;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #24252A;
    color: antiquewhite;
}

.container{
    border: 3px solid #44b3e3;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-height: 30vh;
    margin: 0 auto;
    position: fixed;
    top: 20%;
    left: 25%;
    cursor: pointer;
}

.container .is-sent{
    margin-bottom: 5%;
    height: 10%;
}


.container .subject{
    color: #44b3e3;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
}

.container .message{
    text-align: justify;
    letter-spacing: 4px;
}

.container:hover{
    transform: scale(1.25);
    transition: 1s ease;
}

.container:not(:hover){
    transform: scale(1);
    transition: 1s ease;
}