*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #304230;
    color: antiquewhite;
}

.header{
    padding: 2em;
    margin:2em;
}

ul{
    list-style-type: none;
}

ul li{
    float:left;
    display: block;
    letter-spacing: 2px;
    margin-right: 2em;
    padding:0.5em;
}

li a {
    padding:inherit;
    border-radius: 3px;
}

li a:hover{
    background-color: antiquewhite;
    color:#304230;
    transition: 0.5s;
    cursor: pointer;
}

.container-main{
    position: relative;
    justify-content: center;
    text-align: justify;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
}

.container-main .article{
    padding: 2rem;
}


